form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.mediaForm{
   
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 1000px;
    
    
}
.center {
    display: flex;
    justify-content: center;
    
    
}
.mainIcon1Media{
    background-image: url('./assets/polaroidStock.jpg');
}

input:invalid {
border: 2px black;
}

.containerMedia{
background-color: #f9f9f9;;
width: 100%;

}
body {
    font-family: Arial, sans-serif;
    /* background-image: url(); */
}
nav{
display: flex;
align-items: center;
justify-content: end;
flex-wrap: wrap; 
}

nav ul li{
display: inline-block;
list-style: none;
margin: 10px 10px;
}

nav ul li a{
font-family: 'Courier New', Courier, monospace;
color: #000000;
text-decoration: none;
font-size: 20px;
position: relative;
}

.header-text{
margin-top: 25%;
margin-left: 5%;
font-size: 100px;
}
.vcenter {
display: flex;
vertical-align: middle;
position: absolute;
left: 45%;
top: 45%;
}

.mainIcon1Media{
border-radius: 12px;
font-size: 30px;
background-position: center;
background-repeat: no-repeat;
text-align: center;
max-width: 70%;
min-width: 70%;
min-height: 400px;
max-height: 450px;
}